/*
0 - 600px:      Phone

$breakpoint arguement choices:
- phone


1em = 16px
*/
@keyframes fill-from-left {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #ffffff; }

body {
  box-sizing: border-box;
  max-width: 144rem;
  margin: 0 auto; }

::selection {
  color: #30c88f; }

.container {
  max-width: 111rem;
  margin: 0 auto; }

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #2d314d; }

.button {
  padding: 0.8rem 3.4rem;
  border-radius: 2.2rem;
  background: linear-gradient(135deg, #30c88f 0%, #2ab6d9 99.58%);
  outline-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  width: fit-content;
  position: relative; }
  .button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    border-radius: 2.2rem;
    display: none; }
  .button:hover::after {
    display: block; }

.footer {
  background-color: #2d314d;
  width: 100%;
  padding-top: 4.8rem;
  padding-bottom: 4.8rem; }
  .footer__content {
    display: flex;
    justify-content: space-between; }
    .footer__content__social {
      margin-right: 13rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .footer__content__social__list {
        display: flex;
        text-decoration: none;
        list-style: none; }
        .footer__content__social__list a {
          width: 2rem;
          height: 2rem;
          background-color: white;
          display: block; }
          .footer__content__social__list a:hover {
            background-color: #30c88f;
            cursor: pointer; }
        .footer__content__social__list .facebook-icon {
          -webkit-mask-image: url(/images/icon-facebook.svg);
          mask-image: url(/images/icon-facebook.svg); }
        .footer__content__social__list .youtube-icon {
          -webkit-mask-image: url(/images/icon-youtube.svg);
          mask-image: url(/images/icon-facebook.svg); }
        .footer__content__social__list .twitter-icon {
          -webkit-mask-image: url(/images/icon-twitter.svg);
          mask-image: url(/images/icon-facebook.svg); }
        .footer__content__social__list .pinterest-icon {
          -webkit-mask-image: url(/images/icon-pinterest.svg);
          mask-image: url(/images/icon-facebook.svg); }
        .footer__content__social__list .instagram-icon {
          -webkit-mask-image: url(/images/icon-instagram.svg);
          mask-image: url(/images/icon-facebook.svg); }
        .footer__content__social__list li:not(:last-child) {
          margin-right: 1.3rem; }
    .footer__content__nav {
      margin-right: auto; }
      .footer__content__nav__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 0.8rem;
        text-decoration: none;
        list-style: none; }
        .footer__content__nav__list a {
          color: white;
          text-decoration: none;
          font-weight: 400;
          font-size: 15px;
          line-height: 26px; }
          .footer__content__nav__list a:hover {
            color: #30c88f; }
    .footer__content__copy-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end; }
      .footer__content__copy-right span {
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
        color: #9597a5; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem; }
  .header__navigation {
    height: 100%;
    display: flex;
    align-items: center; }
    .header__navigation__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%; }
      .header__navigation__list li {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 2rem;
        text-decoration: none;
        list-style: none;
        color: #9597a5;
        font-size: 1.4rem;
        box-sizing: border-box;
        position: relative;
        overflow: hidden; }
        .header__navigation__list li::after {
          content: "";
          position: absolute;
          left: -100%;
          bottom: 0;
          width: 100%;
          height: 0.5rem;
          background-color: #30c88f;
          transition: all 0.2s ease-in;
          transform-origin: left;
          animation-name: fill-from-left; }
        .header__navigation__list li:hover::after {
          left: 0; }
        .header__navigation__list li a {
          text-decoration: none;
          color: #9597a5; }

body {
  margin: 0 auto;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.main {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fafafa; }
  .main__bg {
    position: absolute;
    right: -45rem;
    top: -25rem; }
  .main__fr {
    position: absolute;
    right: -13.5rem;
    top: -10rem; }
  .main .presentation {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 1fr;
    justify-content: center;
    height: 65rem;
    z-index: 2; }
    .main .presentation__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .main .presentation__text__header {
        margin-bottom: 2.4rem;
        font-weight: 300;
        font-size: 5.6rem;
        line-height: 6.4rem;
        color: #2d314d; }
      .main .presentation__text__sub {
        margin-bottom: 3.6rem;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: #9597a5; }
    .main .presentation__media {
      position: relative;
      overflow-x: hidden;
      overflow-y: 10rem; }
      .main .presentation__media__front {
        position: absolute;
        top: -15rem; }
  .main .suggestion {
    background-color: #f4f5f7;
    margin-top: 5rem;
    padding-bottom: 9.4rem; }
    .main .suggestion__content {
      margin-top: 7rem;
      display: flex;
      flex-direction: column; }
      .main .suggestion__content__header {
        font-weight: 300;
        font-size: 4rem;
        line-height: 6.4rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #2d314d; }
      .main .suggestion__content__sub {
        margin-top: 1.6rem;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #9597a5; }
      .main .suggestion__content__options {
        margin-top: 6.7rem;
        display: flex; }
        .main .suggestion__content__options__item {
          display: flex;
          flex-direction: column; }
          .main .suggestion__content__options__item img {
            height: 7.2rem;
            width: 7.2rem; }
          .main .suggestion__content__options__item h3 {
            margin-top: 4rem;
            font-weight: 300;
            font-size: 2.4rem;
            line-height: 2.8rem;
            color: #2d314d; }
          .main .suggestion__content__options__item span {
            margin-top: 2.6rem;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #9597a5; }
        .main .suggestion__content__options__item:not(:last-child) {
          margin-right: 3rem; }
  .main .articles {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    padding-bottom: 8rem; }
    .main .articles__header {
      font-weight: 300;
      font-size: 40px;
      line-height: 64px;
      color: #2d314d; }
    .main .articles__content {
      display: flex;
      margin-top: 4rem; }
      .main .articles__content__item {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding-bottom: 2.4rem; }
        .main .articles__content__item img {
          width: 100%;
          height: 20rem;
          border-radius: 5px 5px 0px 0px; }
        .main .articles__content__item .image__sub {
          margin-top: 2.5rem;
          margin-left: 2.4rem;
          margin-right: 2.4rem;
          font-weight: 400;
          font-size: 10px;
          line-height: 18px;
          color: #9597a5; }
        .main .articles__content__item a {
          display: block;
          margin-top: 0.8rem;
          font-weight: 300;
          font-size: 16px;
          line-height: 20px;
          color: #2d314d;
          margin-left: 2.4rem;
          margin-right: 2.4rem;
          text-decoration: none; }
          .main .articles__content__item a:hover {
            color: #30c88f;
            cursor: pointer; }
        .main .articles__content__item .sub {
          margin-top: 0.8rem;
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #9597a5;
          margin-left: 2.4rem;
          margin-right: 2.4rem; }
      .main .articles__content__item:not(:last-child) {
        margin-right: 3rem; }
