// COLORS
$color-primary: #30c88f;
$color-secondary: #2ab6d9;
$gradient-color-primary: linear-gradient(
  135deg,
  $color-primary 0%,
  $color-secondary 99.58%
);
$light-gray-background: #f4f5f7;

$text-primary-color: #2d314d;
$text-secondary-color: #9597a5;

$footer-background-color: #2d314d;

// FONT
$default-font-size: 1.8rem;

//Margins and Paddings
$default-body-lr-padding: 16.5rem;
