.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;

  @include respond(phone) {
    padding: 2.2rem 2.4rem;
  }

  &__navigation {
    height: 100%;
    display: flex;
    align-items: center;
    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      li {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 2rem;
        text-decoration: none;
        list-style: none;
        color: $text-secondary-color;
        font-size: 1.4rem;
        box-sizing: border-box;
        // border-bottom: 0.5rem solid transparent;
        position: relative;

        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          left: -100%;
          bottom: 0;
          width: 100%;
          height: 0.5rem;
          background-color: $color-primary;
          transition: all 0.2s ease-in;
          transform-origin: left;
          animation-name: fill-from-left;
        }

        &:hover::after {
          left: 0;
        }

        a {
          text-decoration: none;
          color: $text-secondary-color;
        }
      }
    }

    @include respond(phone) {
      display: none;
    }
  }
  & .button {
    @include respond(phone) {
      display: none;
    }
  }
}
